<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<title>后台管理</title>
		<link rel="stylesheet" href="lib/layui/css/layui.css">
		<link rel="stylesheet" href="css/login.css">
	</head>
    <body class="login-bg">
        <div class="login layui-anim layui-anim-up">
            <div class="message">后台管理tem</div>
            <div id="darkbannerwrap"></div>
            <form method="post" class="layui-form" action="login">
                <input id="mngId" type="text" name="username" placeholder="用户名" lay-verify="required" class="layui-input">
                <hr class="hr15">
                <input id="mngPwd" type="password" name="password" placeholder="密码" lay-verify="required" class="layui-input">
                <hr class="hr15">
<!--
                <input type="text" name="verifis" placeholder="验证码" lay-verify="required" class="layui-input" style="width: 200px;">
                <img id="verifi_images" src=" " style="width: 135px;height: 50px;float: left;position: relative;top: -50px;left: 204px;">
-->

       <input value="登录" onclick="login()" type="submit"  >

                <hr class="hr10" >
            </form>
        </div>
        <script type="text/javascript">
            function login() {
                var json={
                    "username": $("#mngId").val(),
                    "password": $("#mngPwd").val()}

                $.ajax({
                    type : 'POST',
                    url : 'login',
                    dataType: 'json',
                    contentType: "application/json;charset=utf-8",
                    data : JSON.stringify(json),
                    async : false,
                    success: function(data) {
                        if (data.status == 200) {
                            window.location.href="chatroom";
                        } else {
                            alert(data.msg);
                        }
                    }
                });
            }

        </script>
    </body>
</html>

<script src="js/jquery-3.4.1.min.js"></script>
<script src="lib/layui/layui.js"></script>
<script src="js/login_test.js"></script>